body {
padding: 20%;
    background-color: blue;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#contenido {
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



h1 {
      background-color: cornflowerblue;
    text-transform: uppercase;
    color: rgb(7, 7, 7);
    padding: 10px;
    width: 50%;
    border: solid 2px blue
}


h2 {

 background-color: cornflowerblue;
    text-transform: uppercase;
    color: blue;
    padding: 10px;
    width: 50%;
    border: solid 2px blue
}

table{
    caption-side: bottom;
    color: red;
    background-color: cornflowerblue;
    border: solid 2px blue  
     

}

caption{
    color: blue;
}

td{
    border: solid 2px blue

}


li a{
    background-color: rgb(0, 82, 91);
    color: blue
    
}

li a :hover{
    background-color: black;
    color: yellow
}



;
